* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #f0f0f0;
  font-size: 62.5%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  border-right: 1px solid #f0f0f0;
  background: rgba(63, 63, 63, 0.2);
  border-radius: 50px;
}

body::-webkit-scrollbar:hover {
  background: rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb:active {
  background: #78b3f7;
}

.portfolio-container nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #f0f0f0;
  z-index: 2;
}
.portfolio-container nav .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 6px 0;
}
.portfolio-container nav .navbar-container .dev-logo-container {
  display: flex;
}
.portfolio-container nav .navbar-container .dev-logo-container .jez-logo {
  height: 48px;
}
.portfolio-container nav .navbar-container .menu-container {
  display: flex;
}
.portfolio-container nav .navbar-container .menu-container svg {
  width: 34px;
  height: 32px;
  color: #000;
  cursor: pointer;
}
.portfolio-container nav .navbar-container .nav-menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 101vh;
  background-color: #f0f0f0;
  z-index: 1;
}
.portfolio-container nav .navbar-container .nav-menu-container .close-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  padding: 10px 0;
  margin: 0 auto;
}
.portfolio-container nav .navbar-container .nav-menu-container .close-menu-container svg {
  width: 34px;
  height: 34px;
  cursor: pointer;
}
.portfolio-container nav .navbar-container .nav-menu-container .close-menu-container svg:hover {
  color: #f00;
}
.portfolio-container nav .navbar-container .nav-menu-container .close-menu-container .menu-text {
  font-size: 2rem;
  font-weight: 500;
}
.portfolio-container nav .navbar-container .nav-menu-container .button-appearance-container {
  width: 85%;
  padding-top: 40px;
  margin: 0 auto;
  text-align: center;
}
.portfolio-container nav .navbar-container .nav-menu-container .button-appearance-container .text-appearance {
  padding-bottom: 6px;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
}
.portfolio-container nav .navbar-container .nav-menu-container .menu-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}
.portfolio-container nav .navbar-container .nav-menu-container .menu-options li {
  padding-top: 40px;
  list-style: none;
}
.portfolio-container nav .navbar-container .nav-menu-container .menu-options li a {
  padding-bottom: 4px;
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
}
.portfolio-container nav .navbar-container .nav-menu-container .menu-options li a:hover {
  color: #2c84e9;
  border-bottom: 2px solid #2c84e9;
  border-radius: 8px;
}
.portfolio-container nav .navbar-container .nav-menu-container .social-container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.portfolio-container nav .navbar-container .nav-menu-container .social-container .social {
  padding: 0 10px;
  margin: 6px 0;
  list-style: none;
}
.portfolio-container nav .navbar-container .nav-menu-container .social-container .social svg {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.portfolio-container nav .navbar-container .nav-menu-container .social-container .git-hub:hover {
  color: #ff7300;
}
.portfolio-container nav .navbar-container .nav-menu-container .social-container .linked-in:hover {
  color: #1e5a92;
}
.portfolio-container .nav-bg {
  background: linear-gradient(to bottom, rgb(240, 240, 240) 0%, rgba(240, 240, 240, 0.42) 100%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.portfolio-container .section {
  width: 100vw;
  padding-bottom: 40px;
}
.portfolio-container .section > div {
  max-width: 460px;
  padding: 0 16px;
}
.portfolio-container .hero-section-container {
  margin-top: 60px;
  padding-top: 40px;
  background: linear-gradient(to bottom, rgb(240, 240, 240) 0%, rgb(240, 240, 240) 8%, rgb(225, 225, 225) 18%, rgb(225, 225, 225) 51%, rgb(225, 225, 225) 75%, rgb(240, 240, 240) 95%, rgb(240, 240, 240) 100%);
}
.portfolio-container .hero-section-container .hero-info-container {
  margin: 24px 0;
  overflow: hidden;
}
.portfolio-container .hero-section-container .hero-info-container .hero-title-container .hero-title {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  font-size: 2.5rem;
}
.portfolio-container .hero-section-container .hero-info-container .hero-title-container .dev-text {
  color: #2c84e9;
}
.portfolio-container .hero-section-container .hero-info-container .hero-title-container .dev-text::after {
  content: "_";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e1e1e1;
  animation: typingEffect 4s steps(11) infinite, flicker 0.5s step-end infinite alternate;
}
.portfolio-container .hero-section-container .hero-info-container .hero-text {
  margin: 18px 0;
  font-size: 1.2rem;
  font-weight: 300;
}
.portfolio-container .hero-section-container .hero-info-container .hero-button {
  padding: 12px;
  margin: 12px 0 0 0;
  border: none;
  border-radius: 4px;
  background-color: #2c84e9;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.portfolio-container .hero-section-container .hero-info-container .hero-button:hover {
  background-color: #78b3f7;
}
.portfolio-container .about-me-container {
  background-image: url(../assets/images/backgroundWhite.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolio-container .about-me-container > div {
  margin: 24px 0;
}
.portfolio-container .about-me-container .info-about-me-container .title-about-me {
  font-size: 1.6rem;
}
.portfolio-container .about-me-container .info-about-me-container .text-about-me {
  margin: 18px 0;
  font-size: 1.2rem;
  font-weight: 300;
}
.portfolio-container .about-me-container .skills-about-me-container .title {
  display: inline-block;
  margin: 32px 0 0 0;
  font-size: 1.4rem;
  font-weight: 400;
}
.portfolio-container .about-me-container .skills-about-me-container .icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
}
.portfolio-container .about-me-container .skills-about-me-container .icon-container .icon {
  width: 50px;
  height: 50px;
  margin: 14px 20px;
}
.portfolio-container .about-me-container .skills-about-me-container .title-skills {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}
.portfolio-container .about-me-container .skills-about-me-container .info-skills-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.portfolio-container .about-me-container .skills-about-me-container .info-skills-container .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  border: 1px solid #a5a5a5;
  border-radius: 8px;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.2);
  list-style: none;
}
.portfolio-container .proyects-container > div .arrows-icons-container {
  position: relative;
}
.portfolio-container .proyects-container > div .arrows-icons-container .arrow svg {
  position: absolute;
  width: 24px;
  height: 24px;
  color: #a5a5a5;
}
.portfolio-container .proyects-container > div .arrows-icons-container .arrow-back svg {
  top: 180px;
  left: -18px;
}
.portfolio-container .proyects-container > div .arrows-icons-container .arrow-next svg {
  right: -18px;
  top: 180px;
}
.portfolio-container .proyects-container .proyects-title {
  font-size: 1.6rem;
}
.portfolio-container .proyects-container .title {
  margin-top: 24px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}
.portfolio-container .proyects-container .proyects {
  display: flex;
  flex-direction: row;
  width: 288px;
  padding-bottom: 16px;
  margin-top: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.portfolio-container .proyects-container .proyects .proyect-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 18px;
  border-radius: 10px;
  background-color: #e1e1e1;
  list-style: none;
  scroll-snap-align: center;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}
.portfolio-container .proyects-container .proyects .proyect-container .proyect-title {
  margin: 12px 0 6px 8px;
  font-size: 1.2rem;
  font-weight: 400;
}
.portfolio-container .proyects-container .proyects .proyect-container .proyect-image-container a {
  display: inline-block;
}
.portfolio-container .proyects-container .proyects .proyect-container .proyect-image-container a .proyect-image {
  width: 250px;
  border-radius: 10px;
}
.portfolio-container .proyects-container .proyects .proyect-container .proyect-description {
  margin: 0 8px 12px 8px;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.5;
}
.portfolio-container .proyects-container .proyects::-webkit-scrollbar {
  width: 0;
}
.portfolio-container .contact-section-container .title-contact-container .title {
  font-size: 1.6rem;
}
.portfolio-container .contact-section-container .contact-container {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}
.portfolio-container .contact-section-container .contact-container .form-data-container {
  display: flex;
  flex-direction: column;
}
.portfolio-container .contact-section-container .contact-container .form-data-container label {
  margin: 20px 0;
  font-size: 1.2rem;
  font-weight: 300;
}
.portfolio-container .contact-section-container .contact-container .form-data-container .inputs {
  padding: 20px;
  border: 2px solid #000;
  border-radius: 6px;
  font-size: 1rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
.portfolio-container .contact-section-container .contact-container .form-data-container .inputs:focus {
  outline-color: #2c84e9;
  box-shadow: 0px 0px 12px rgba(44, 132, 233, 0.4);
}
.portfolio-container .contact-section-container .contact-container .form-data-container .inputs::-moz-placeholder {
  font-size: 1rem;
  font-weight: 600;
}
.portfolio-container .contact-section-container .contact-container .form-data-container .inputs::placeholder {
  font-size: 1rem;
  font-weight: 600;
}
.portfolio-container .contact-section-container .contact-container .form-data-container .text-area {
  font-family: "Rubik", sans-serif;
  resize: none;
}
.portfolio-container .contact-section-container .contact-container .button-send {
  padding: 16px;
  margin: 40px 0 0 0;
  border: none;
  border-radius: 4px;
  background-color: #2c84e9;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
.portfolio-container .contact-section-container .contact-container .button-send:hover {
  background-color: #78b3f7;
}

.portfolio-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 70px;
  margin-top: 20px;
  background-color: #e1e1e1;
}
.portfolio-footer .footer-left img {
  height: 48px;
}
.portfolio-footer .footer-right .social-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.portfolio-footer .footer-right .social-container .social {
  padding: 0 10px;
  margin: 6px 0;
  list-style: none;
}
.portfolio-footer .footer-right .social-container .social svg {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.portfolio-footer .footer-right .social-container .git-hub:hover {
  color: #ff7300;
}
.portfolio-footer .footer-right .social-container .linked-in:hover {
  color: #1e5a92;
}

@media (min-width: 770px) {
  .portfolio-container nav .navbar-container {
    width: 95%;
  }
  .portfolio-container nav .navbar-container .menu-container {
    display: none;
  }
  .portfolio-container nav .navbar-container .nav-menu-container {
    position: relative;
    display: flex;
    justify-content: end;
    height: auto;
    background-color: transparent;
  }
  .portfolio-container nav .navbar-container .nav-menu-container .close-menu-container {
    display: none;
  }
  .portfolio-container nav .navbar-container .nav-menu-container .line-separator-container {
    display: none;
  }
  .portfolio-container nav .navbar-container .nav-menu-container .button-appearance-container {
    display: inline-block;
    width: auto;
    padding: 0 0 0 8px;
    margin: 0;
    border-left: 2px solid #000;
  }
  .portfolio-container nav .navbar-container .nav-menu-container .menu-options {
    flex-direction: row;
    width: auto;
    margin: 0;
  }
  .portfolio-container nav .navbar-container .nav-menu-container .menu-options li {
    padding: 0 15px;
  }
  .portfolio-container nav .navbar-container .nav-menu-container .menu-options li a {
    padding: 0;
    font-size: 1.2rem;
  }
  .portfolio-container nav .navbar-container .nav-menu-container .social-container {
    display: none;
  }
}
@keyframes typingEffect {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes flicker {
  50% {
    color: transparent;
  }
}/*# sourceMappingURL=index.css.map */