$white: #fff;
$black: #000;
$color-1: #f0f0f0;
$color-2: #e1e1e1;
$color-3: #2c84e9;
$color-4: #a5a5a5;
$color-5: #78b3f7;
$theme-color-dark1: #111010;
$theme-color-dark2: #202020;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth
}

body {
    background-color: $color-1;
    font-size: 62.5%;
    transition: .3s;
}

body::-webkit-scrollbar {
    width: 10px;
    background: rgba(0, 0, 0, .1);
}

body::-webkit-scrollbar-thumb {
    border-right: 1px solid $color-1;
    border-left: 1px solid $color-1;
    background: rgba(63, 63, 63, .2);
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:active {
    background: #78b3f7;
}

#root {
    overflow-x: hidden;
}

.portfolio-container {
    nav {
        position: fixed;
        top: 0;
        width: 100vw;
        background-color: $color-1;
        z-index: 2;
        transition: .3s;

        .navbar-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 85%;
            margin: 0 auto;
            padding: 6px 0;

            .dev-logo-container {
                display: flex;

                .jez-logo {
                    height: 48px;
                }
            }

            .menu-container {
                display: flex;

                svg {
                    width: 34px;
                    height: 32px;
                    color: $black;
                    cursor: pointer;
                }
            }

            .nav-menu-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: $color-1;
                z-index: 1;

                .close-menu-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 0;

                    svg {
                        width: 34px;
                        height: 34px;
                        margin: 0 24px;
                        cursor: pointer;
                    }

                    svg:hover {
                        color: #f00;
                    }

                    .menu-text {
                        margin: 0 24px;
                        font-size: 2rem;
                        font-weight: 500;
                    }
                }

                .button-appearance-container {
                    width: 85%;
                    padding-top: 310px;
                    margin: 0 auto;
                    text-align: center;

                    .text-appearance {
                        padding-bottom: 6px;
                        color: $black;
                        font-size: 1rem;
                        font-weight: 500;
                    }
                }

                .menu-options-container {
                    position: absolute;
                    top: 56px;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin: 0 auto;

                    .menu-options {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 0 auto;

                        li {
                            padding-top: 40px;
                            list-style: none;

                            a {
                                padding-bottom: 4px;
                                color: $black;
                                text-decoration: none;
                                font-size: 1.5rem;
                            }

                            a:hover {
                                color: $color-3;
                                border-bottom: 2px solid $color-3;
                                border-radius: 8px;
                            }
                        }
                    }
                }

                .social-container {
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    .social {
                        padding: 0 10px;
                        margin: 6px 0;
                        list-style: none;

                        svg {
                            width: 32px;
                            height: 32px;
                            color: $black;
                            cursor: pointer;
                        }
                    }

                    .git-hub:hover {
                        svg {
                            color: #ff7300;
                        }
                    }

                    .linked-in:hover {
                        svg {
                            color: #1e5a92;
                        }
                    }
                }
            }

            .close {
                display: none;
            }

            .open {
                display: block;
            }
        }
    }

    .nav-bg {
        background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 0%, rgba(240, 240, 240, 0.42) 100%);
        backdrop-filter: blur(10px);
        transition: .3s;
    }

    .section {
        position: relative;
        width: 100vw;
        padding-bottom: 40px;
        margin: 60px 0;
        transition: .3s;

        &>div {
            // max-width: 460px;
            padding: 0 16px;
        }

        .degraded-section {
            position: absolute;
            top: -26px;
            width: 100vw;
            height: 88px;
            background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 29%, rgba(240, 240, 240, 0) 100%);
        }
    }

    .hero-section-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        padding-top: 40px;
        background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 0%, rgba(240, 240, 240, 1) 8%, rgba(225, 225, 225, 1) 18%, rgba(225, 225, 225, 1) 51%, rgba(225, 225, 225, 1) 75%, rgba(240, 240, 240, 1) 95%, rgba(240, 240, 240, 1) 100%);
        transition: .3s;

        .hero-info-container {
            max-width: 580px;
            padding-top: 40px;
            padding-bottom: 40px;
            overflow: hidden;
            // 471px mediaquery hero section center

            .hero-title-container {
                .hero-title {
                    position: relative;
                    display: inline-block;
                    margin-right: 10px;
                    font-size: 2.5rem;
                }

                .typing-effect {
                    color: $color-3;
                }

                .typing-effect:before {
                    content: "_";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $color-2;
                    animation: typingEffect 4s steps(11) infinite, flicker .5s step-end infinite alternate;
                }
            }

            .hero-text {
                margin: 18px 0 30px 0;
                font-size: 1.2rem;
                font-weight: 300;
            }

            .hero-interactive-container {
                display: flex;
                align-items: center;

                .hero-button {
                    padding: 12px;
                    border: none;
                    border-radius: 4px;
                    background-color: $color-3;
                    color: $white;
                    font-size: 1.2rem;
                    font-weight: 600;
                    cursor: pointer;
                }

                .hero-button:hover {
                    background-color: $color-5;
                }

                .social-container {
                    display: flex;
                    width: 45%;
                    padding-left: 20px;

                    .social {
                        padding: 0 10px;
                        margin: 6px 0;
                        list-style: none;

                        svg {
                            width: 32px;
                            height: 32px;
                            color: $black;
                            cursor: pointer;
                        }
                    }

                    .git-hub:hover {
                        svg {
                            color: #ff7300;
                        }
                    }

                    .linked-in:hover {
                        svg {
                            color: #1e5a92;
                        }
                    }
                }
            }
        }

        .hero-image-container {
            display: none;
        }
    }

    .about-me-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../assets/images/backgroundWhite.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &>div {
            margin-top: 24px;
        }

        .info-about-me-container {
            max-width: 960px;

            .title-about-me {
                padding-top: 40px;
                font-size: 1.6rem;
            }

            .text-about-me {
                margin: 18px 0;
                font-size: 1.2rem;
                font-weight: 300;
            }
        }

        .skills-about-me-container {
            .title {
                display: inline-block;
                margin: 32px 0 0 0;
                font-size: 1.4rem;
                font-weight: 400;
            }

            .icon-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 30px 0;

                .icon {
                    width: 50px;
                    height: 50px;
                    margin: 14px 20px;
                }
            }

            .title-skills {
                padding-top: 74px;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 600;
            }

            .info-skills-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 32px;
                margin-top: 20px;

                .skills {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 288px;
                    margin-bottom: 40px;
                    border: 1px solid $color-4;
                    border-radius: 8px;
                    background-color: $color-1;
                    box-shadow: 2px 2px 24px rgba(0, 0, 0, .2);
                    list-style: none;
                }
            }
        }
    }

    .section-proyects-container {
        .degraded-section {
            top: -126px;
            background: linear-gradient(to top, rgb(240, 240, 240) 29%, rgba(240, 240, 240, 0) 100%);
        }

        .section-title-container {
            .title {
                padding-top: 74px;
                color: $black;
                font-size: 1.6rem;
                text-align: center;
            }
        }

        .proyects-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 12px;
            width: 100vw;

            .proyect-container {
                display: flex;
                flex-direction: column;
                max-width: 300px;
                padding-bottom: 20px;
                margin: 16px 0;
                background-color: $color-2;
                border-radius: 12px;
                box-shadow: 0px 0px 16px rgba(0, 0, 0, .3);
                overflow: hidden;
                transition: .3s;

                .proyect-image-container {
                    a {
                        img {
                            width: 100%;
                        }
                    }
                }

                .proyect-info {
                    padding: 0 12px 8px 12px;
                    color: $black;
                }

                .proyect-title {
                    font-size: 1.2rem;
                }

                .proyect-description {
                    color: rgba(0, 0, 0, .8);
                    font-size: 1rem;
                    font-weight: 300;
                }
            }

            .proyect-container:hover {
                transform: scale(1.03);
                transition: .3s;
            }
        }
    }

    .contact-section-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title-contact-container {
            .title {
                padding-top: 74px;
                font-size: 1.6rem;
            }
        }

        .contact-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 860px;
            padding: 0 16px;

            .form-data-container {
                display: flex;
                flex-direction: column;

                label {
                    margin: 20px 0;
                    font-size: 1.2rem;
                    font-weight: 300;
                }

                .inputs {
                    padding: 20px;
                    border: 2px solid $black;
                    border-radius: 6px;
                    font-size: 1rem;
                    box-shadow: 0px 0px 12px rgba(0, 0, 0, .2);
                }

                .inputs:focus {
                    outline-color: $color-3;
                    box-shadow: 0px 0px 12px rgba(44, 132, 233, .4);
                }

                .inputs::placeholder {
                    font-size: 1rem;
                    font-weight: 600;
                }

                .text-area {
                    font-family: 'Rubik', sans-serif;
                    resize: none;
                }

            }

            .button-send {
                padding: 16px;
                margin: 40px 0 0 0;
                border: none;
                border-radius: 4px;
                background-color: $color-3;
                color: $white;
                font-size: 1.2rem;
                font-weight: 500;
                cursor: pointer;
            }

            .button-send:hover {
                background-color: $color-5;
            }
        }
    }
}

// 456px mediaquery || 608

.portfolio-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 70px;
    margin-top: 20px;
    background-color: $color-2;

    .footer-left {
        img {
            height: 48px;
        }
    }

    .footer-right {
        .social-container {
            display: flex;
            justify-content: center;
            width: 100%;

            .social {
                padding: 0 10px;
                margin: 6px 0;
                list-style: none;

                svg {
                    width: 32px;
                    height: 32px;
                    color: $black;
                    cursor: pointer;
                }
            }

            .git-hub:hover {
                svg {
                    color: #ff7300;
                }
            }

            .linked-in:hover {
                svg {
                    color: #1e5a92;
                }
            }
        }
    }
}

.body-dark {
    background-color: $theme-color-dark1;
    transition: .3s;
}

.body-dark::-webkit-scrollbar {
    background: rgba(255, 255, 255, .1);
}

.body-dark::-webkit-scrollbar-thumb {
    border-right: 1px solid $theme-color-dark2;
    border-left: 1px solid $theme-color-dark2;
    background: rgba(255, 255, 255, .2);
}

.theme-dark {
    nav {
        background-color: $theme-color-dark1;
        transition: .3s;

        .navbar-container {
            .menu-container {
                svg {
                    color: $white;
                }
            }

            .nav-menu-container {
                background-color: $theme-color-dark1;

                .close-menu-container {
                    background-color: $theme-color-dark2;
                    color: $white;
                }

                .button-appearance-container {
                    .text-appearance {
                        color: $white;
                    }
                }

                .menu-options-container {
                    background: linear-gradient(to bottom, rgba(32, 32, 32, 1) 0%, rgba(17, 16, 16, 1) 37%, rgba(17, 16, 16, 1) 100%);

                    .menu-options {

                        li {
                            a {
                                color: $white;
                            }
                        }
                    }
                }

                .social-container {
                    .social {
                        svg {
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    .nav-bg {
        background: linear-gradient(to bottom, rgba(17, 16, 16, 1) 0%, rgba(17, 16, 16, 0.42) 100%);
        backdrop-filter: blur(10px);
        transition: .3s;
    }

    .section {
        background: linear-gradient(rgba(17, 16, 16, 1) 29%, rgba(17, 16, 16, 0) 100%);
        transition: .3s;
    }

    .hero-section-container {
        background: linear-gradient(to bottom, rgba(17, 16, 16, 1) 0%, rgba(17, 16, 16, 1) 8%, rgba(32, 32, 32, 1) 18%, rgba(32, 32, 32, 1) 51%, rgba(32, 32, 32, 1) 75%, rgba(17, 16, 16, 1) 95%, rgba(17, 16, 16, 1) 100%);
        transition: .3s;

        .hero-info-container {
            .hero-title-container {
                .hero-title {
                    color: $white;
                }

                .typing-effect {
                    color: $color-3;
                }

                .typing-effect:before {
                    background-color: $theme-color-dark2;
                }
            }

            .hero-text {
                color: $white;
            }

            .hero-interactive-container {
                .social-container {
                    .social {
                        svg {
                            color: $white;
                        }
                    }

                    .git-hub:hover {
                        svg {
                            color: #ff7300;
                        }
                    }

                    .linked-in:hover {
                        svg {
                            color: #1e5a92;
                        }
                    }
                }
            }
        }
    }

    .about-me-container {
        background-image: url(../assets/images/backgroundBlack.svg);
        background-size: cover;
        background-repeat: no-repeat;

        .degraded-section {
            background: linear-gradient(rgba(17, 16, 16, 1) 29%, rgba(17, 16, 16, 0) 100%);
        }

        .info-about-me-container {
            .title-about-me {
                color: $white;
            }

            .text-about-me {
                color: $white;
            }
        }

        .skills-about-me-container {
            .title-skills {
                color: $white;
            }

            .info-skills-container {
                .skills {
                    border: 1px solid $white;
                    background-color: $theme-color-dark1;
                    box-shadow: 2px 2px 24px rgba(250, 250, 250, 0.1);

                    .title {
                        color: $white;
                    }
                }
            }
        }
    }

    .section-proyects-container {
        .degraded-section {
            background: linear-gradient(to top, rgb(17, 16, 16) 29%, rgba(17, 16, 16, 0) 100%);
        }

        .section-title-container {
            .title {
                color: $white;
            }
        }

        .proyects-container {
            .proyect-container {
                background-color: $theme-color-dark2;
                box-shadow: 0px 0px 16px rgba(255, 255, 255, .1);

                .proyect-info {
                    color: $white;
                }

                .proyect-description {
                    color: rgba(255, 255, 255, .8);
                }
            }
        }
    }

    .contact-section-container {
        .title-contact-container {
            color: $white;
        }

        .contact-container {
            .form-data-container {
                label {
                    color: $white;
                }

                .inputs {
                    border: 2px solid $white;
                    background-color: $theme-color-dark2;
                    color: $white;
                    box-shadow: 0px 0px 12px rgba(250, 250, 250, 0.14);
                }
            }
        }
    }
}

.portfolio-footer-dark {
    background-color: $theme-color-dark2;

    .footer-right {
        .social-container {
            .social {
                svg {
                    color: $white;
                }
            }

            .git-hub:hover {
                svg {
                    color: #ff7300;
                }
            }

            .linked-in:hover {
                svg {
                    color: #1e5a92;
                }
            }
        }
    }
}

@media (min-width: 770px) {
    .portfolio-container {
        nav {
            .navbar-container {
                width: 95%;

                .menu-container {
                    display: none;
                }

                .nav-menu-container {
                    position: relative;
                    display: flex;
                    height: auto;
                    background-color: transparent;

                    .close-menu-container {
                        display: none;
                    }

                    .button-appearance-container {
                        display: inline-block;
                        width: auto;
                        padding: 0 0 0 8px;
                        margin: 0;
                        border-left: 2px solid $black;
                    }

                    .menu-options-container {
                        position: initial;
                        justify-content: end;
                        width: auto;
                        margin: 0 0 0 auto;
                        transform: .3s;

                        .menu-options {
                            flex-direction: row;
                            justify-content: end;
                            width: auto;
                            margin: 0;

                            li {
                                padding: 0 15px;

                                a {
                                    padding: 0;
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }

                    .social-container {
                        display: none;
                    }
                }
            }
        }

        .hero-section-container {
            .hero-info-container {
                max-width: 50%;
            }

            .hero-image-container {
                display: block;

                .image {
                    display: inline-block;
                    width: 360px;
                    height: 360px;
                    border: 4px solid $black;
                    border-radius: 50%;
                    background-color: $white;
                    background-image: url("/public/logoJezWhite.svg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }

    .theme-dark {
        nav {
            .navbar-container {
                .nav-menu-container {
                    .button-appearance-container {
                        border-left: 2px solid $white;
                    }

                    .menu-options-container {
                        background: transparent;
                    }
                }
            }
        }

        .hero-section-container {
            .hero-image-container {
                .image {
                    border: 4px solid $white;
                    border-radius: 50%;
                    background-color: $black;
                    background-image: url("/public/logoJezBlack.svg");
                }
            }
        }
    }
}

@keyframes typingEffect {

    40%,
    60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes flicker {
    50% {
        color: transparent;
    }
}