$white: #fff;
$black: #000;
$color-1: #f0f0f0;
$color-2: #e1e1e1;
$color-3: #2c84e9;
$theme-color-dark1: #111010;
$theme-color-dark2: #202020;
$color-4: #a5a5a5;
$color-5: #78b3f7;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Rubik", sans-serif;
}

body {
    background-color: $color-1;
    font-size: 62.5%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-right: 1px solid $color-1;
    background: rgba(63, 63, 63, .2);
    border-radius: 50px;
}

body::-webkit-scrollbar:hover {
    background: rgba(0, 0, 0, .1);
}

body::-webkit-scrollbar-thumb:active {
    background: #78b3f7;
}

.portfolio-container {
    nav {
        position: fixed;
        top: 0;
        width: 100vw;
        background-color: $color-1;
        transition: .3s;
        z-index: 2;

        .navbar-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 85%;
            margin: 0 auto;
            padding: 6px 0;

            .dev-logo-container {
                display: flex;

                .jez-logo {
                    height: 48px;
                }
            }

            .menu-container {
                display: flex;

                svg {
                    width: 34px;
                    height: 32px;
                    color: $black;
                    cursor: pointer;
                }
            }

            .nav-menu-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 101vh;
                background-color: $color-1;
                transition: .3s;
                z-index: 1;

                .close-menu-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 0;

                    svg {
                        width: 34px;
                        height: 34px;
                        margin: 0 24px;
                        cursor: pointer;
                    }

                    svg:hover {
                        color: #f00;
                    }

                    .menu-text {
                        margin: 0 24px;
                        font-size: 2rem;
                        font-weight: 500;
                    }
                }

                .button-appearance-container {
                    width: 85%;
                    padding-top: 40px;
                    margin: 0 auto;
                    text-align: center;

                    .text-appearance {
                        padding-bottom: 6px;
                        color: $black;
                        font-size: 1rem;
                        font-weight: 500;
                    }
                }

                .menu-options-container {
                    display: flex;
                    align-items: center;
                    margin: 0 auto;
                    transition: .3s;

                    .menu-options {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 0 auto;

                        li {
                            padding-top: 40px;
                            list-style: none;

                            a {
                                padding-bottom: 4px;
                                color: $black;
                                text-decoration: none;
                                font-size: 1.5rem;
                            }

                            a:hover {
                                color: $color-3;
                                border-bottom: 2px solid $color-3;
                                border-radius: 8px;
                            }
                        }
                    }
                }

                .social-container {
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    .social {
                        padding: 0 10px;
                        margin: 6px 0;
                        list-style: none;

                        svg {
                            width: 32px;
                            height: 32px;
                            cursor: pointer;
                        }
                    }

                    .git-hub:hover {
                        color: #ff7300;
                    }

                    .linked-in:hover {
                        color: #1e5a92;
                    }
                }
            }
        }
    }

    .nav-bg {
        background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 0%, rgba(240, 240, 240, 0.42) 100%);
        backdrop-filter: blur(10px);
    }

    .section {
        width: 100vw;
        padding-bottom: 40px;

        &>div {
            max-width: 460px;
            padding: 0 16px;
        }
    }

    .hero-section-container {
        margin-top: 60px;
        padding-top: 40px;
        background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 0%, rgba(240, 240, 240, 1) 8%, rgba(225, 225, 225, 1) 18%, rgba(225, 225, 225, 1) 51%, rgba(225, 225, 225, 1) 75%, rgba(240, 240, 240, 1) 95%, rgba(240, 240, 240, 1) 100%);

        .hero-info-container {
            margin: 24px 0;
            overflow: hidden;
            // 471px mediaquery hero section center

            .hero-title-container {
                .hero-title {
                    position: relative;
                    display: inline-block;
                    margin-right: 10px;
                    font-size: 2.5rem;
                }

                .dev-text {
                    color: $color-3;
                }

                .dev-text::after {
                    content: '_';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    background-color: $color-2;
                    animation: typingEffect 4s steps(11) infinite, flicker .5s step-end infinite alternate;
                }
            }

            .hero-text  {
                margin: 18px 0;
                font-size: 1.2rem;
                font-weight: 300;
            }

            .hero-button {
                padding: 12px;
                margin: 12px 0 0 0;
                border: none;
                border-radius: 4px;
                background-color: $color-3;
                color: $white;
                font-size: 1.2rem;
                font-weight: 600;
                cursor: pointer;
                transition: .3s;
            }

            .hero-button:hover {
                background-color: $color-5;
            }
        }
    }

    .about-me-container {
        background-image: url(../assets/images/backgroundWhite.svg);
        background-size: cover;
        background-repeat: no-repeat;

        &>div {
            margin: 24px 0;
        }

        .info-about-me-container {
            .title-about-me {
                font-size: 1.6rem;
            }

            .text-about-me {
                margin: 18px 0;
                font-size: 1.2rem;
                font-weight: 300;
            }
        }

        .skills-about-me-container {
            .title {
                display: inline-block;
                margin: 32px 0 0 0;
                font-size: 1.4rem;
                font-weight: 400;
            }

            .icon-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 30px 0;

                .icon {
                    width: 50px;
                    height: 50px;
                    margin: 14px 20px;
                }
            }

            .title-skills {
                text-align: center;
                font-size: 1.4rem;
                font-weight: 600;
            }

            .info-skills-container {
                display: flex;
                flex-direction: column;
                margin-top: 20px;

                .skills {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 40px;
                    border: 1px solid $color-4;
                    border-radius: 8px;
                    background-color: $color-1;
                    box-shadow: 2px 2px 24px rgba(0, 0, 0, .2);
                    list-style: none;
                }
            }
        }
    }

    .proyects-container {
        &>div {
            .arrows-icons-container {
                position: relative;

                .arrow {
                    svg {
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        color: $color-4;
                    }
                }

                .arrow-back {
                    svg {
                        top: 180px;
                        left: -18px;
                    }
                }

                .arrow-next {
                    svg {
                        right: -18px;
                        top: 180px;
                    }
                }

            }
        }

        .proyects-title {
            font-size: 1.6rem;
        }

        .title {
            margin-top: 24px;
            font-size: 1.2rem;
            font-weight: 600;
            text-align: center;
        }

        .proyects {
            display: flex;
            flex-direction: row;
            width: 288px;
            padding-bottom: 16px;
            margin-top: 10px;
            overflow-x: auto;
            scroll-snap-type: x mandatory;

            .proyect-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 10px 18px;
                border-radius: 10px;
                background-color: $color-2;
                list-style: none;
                scroll-snap-align: center;
                box-shadow: 0px 0px 12px rgba(0, 0, 0, .4);

                .proyect-title {
                    margin: 12px 0 6px 8px;
                    font-size: 1.2rem;
                    font-weight: 400;
                }

                .proyect-image-container {
                    a {
                        display: inline-block;

                        .proyect-image {
                            width: 250px;
                            border-radius: 10px;
                        }
                    }
                }

                .proyect-description {
                    margin: 0 8px 12px 8px;
                    font-size: .85rem;
                    font-weight: 300;
                    line-height: 1.5;
                }
            }
        }

        .proyects::-webkit-scrollbar {
            width: 0;
        }
    }

    .contact-section-container {
        .title-contact-container {
            .title {
                font-size: 1.6rem;
            }
        }

        .contact-container {
            display: flex;
            flex-direction: column;
            padding: 0 16px;

            .form-data-container {
                display: flex;
                flex-direction: column;

                label {
                    margin: 20px 0;
                    font-size: 1.2rem;
                    font-weight: 300;
                }

                .inputs {
                    padding: 20px;
                    border: 2px solid $black;
                    border-radius: 6px;
                    font-size: 1rem;
                    box-shadow: 0px 0px 12px rgba(0, 0, 0, .2);
                }

                .inputs:focus {
                    outline-color: $color-3;
                    box-shadow: 0px 0px 12px rgba(44, 132, 233, .4);
                }

                .inputs::placeholder {
                    font-size: 1rem;
                    font-weight: 600;
                }

                .text-area {
                    font-family: 'Rubik', sans-serif;
                    resize: none;
                }

            }

            .button-send {
                padding: 16px;
                margin: 40px 0 0 0;
                border: none;
                border-radius: 4px;
                background-color: $color-3;
                color: $white;
                font-size: 1.2rem;
                font-weight: 500;
                cursor: pointer;
            }

            .button-send:hover {
                background-color: $color-5;
            }
        }
    }
}

.portfolio-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 70px;
    margin-top: 20px;
    background-color: $color-2;

    .footer-left {
        img {
            height: 48px;
        }
    }

    .footer-right {
        .social-container {
            display: flex;
            justify-content: center;
            width: 100%;

            .social {
                padding: 0 10px;
                margin: 6px 0;
                list-style: none;

                svg {
                    width: 32px;
                    height: 32px;
                    cursor: pointer;
                }
            }

            .git-hub:hover {
                color: #ff7300;
            }

            .linked-in:hover {
                color: #1e5a92;
            }
        }
    }
}

.theme-dark {
    nav {
        background-color: $theme-color-dark1;
        transition: .3s;

        .navbar-container {
            .menu-container {
                svg {
                    color: $white;
                    transition: .3s;
                }
            }

            .nav-menu-container {
                background-color: $theme-color-dark1;
                transition: .3s;

                .close-menu-container {
                    background-color: $theme-color-dark2;
                    color: $white;
                    transition: .3s;
                }

                .button-appearance-container {
                    .text-appearance {
                        color: $white;
                    }
                }

                .menu-options-container {
                    background: linear-gradient(to bottom, rgba(32, 32, 32, 1) 0%, rgba(17, 16, 16, 1) 37%, rgba(17, 16, 16, 1) 100%);
                    transition: .3s;

                    .menu-options {

                        li {
                            a {
                                color: $white;
                            }
                        }
                    }
                }

                .social-container {
                    .social {
                        color: $white;
                    }
                }
            }
        }
    }

    .hero-section-container {
        background: linear-gradient(to bottom, rgba(17, 16, 16, 1) 0%, rgba(17, 16, 16, 1) 8%, rgba(32, 32, 32, 1) 18%, rgba(32, 32, 32, 1) 51%, rgba(32, 32, 32, 1) 75%, rgba(17, 16, 16, 1) 95%, rgba(17, 16, 16, 1) 100%);
        transition: .3s;

        .hero-info-container {
            .hero-title-container {
                .hero-title {
                    color: $white;
                }

                .dev-text {
                    color: $color-3;
                }

                .dev-text::after {
                    background-color: $theme-color-dark2;
                }
            }

            .hero-text {
                color: $white;
            }
        }
    }
}

@media (min-width: 770px) {
    .portfolio-container {
        nav {
            .navbar-container {
                width: 95%;

                .menu-container {
                    display: none;
                }

                .nav-menu-container {
                    position: relative;
                    display: flex;
                    height: auto;
                    background-color: transparent;

                    .close-menu-container {
                        display: none;
                    }

                    .button-appearance-container {
                        display: inline-block;
                        width: auto;
                        padding: 0 0 0 8px;
                        margin: 0;
                        border-left: 2px solid $black;
                        transition: .3s;
                    }

                    .menu-options-container {
                        justify-content: end;
                        width: auto;
                        margin: 0 0 0 auto;
                        transform: .3s;

                        .menu-options {
                            flex-direction: row;
                            justify-content: end;
                            width: auto;
                            margin: 0;

                            li {
                                padding: 0 15px;

                                a {
                                    padding: 0;
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }

                    .social-container {
                        display: none;
                    }
                }
            }
        }
    }

    .theme-dark {
        nav {
            .navbar-container {
                .nav-menu-container {
                    .button-appearance-container {
                        border-left: 2px solid $white;
                        transition: .3s;
                    }

                    .menu-options-container {
                        background: transparent;
                        transition: .3s;
                    }
                }
            }
        }
    }
}

@keyframes typingEffect {

    40%,
    60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes flicker {
    50% {
        color: transparent;
    }
}